.search{
    display: flex;
    align-items: center;
    justify-self: center;
    border: 5px;
    flex: 0.7;
    background-color: whitesmoke;
    padding: 10px;
    height: 30px;
    border-radius: 24px;
}

.search > input{
    border: none;
    width: 100%;
    padding: 10px;
    outline-width: 0;
    font-size: medium;
    background-color: transparent;
}